name: First CI
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        rid: ["win-x64", "linux-x64"]
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.0.x'
      - run: dotnet restore
      - run: dotnet publish -o app/${{ matrix.rid }} -r ${{ matrix.rid }} --sc /p:PublishSingleFile=true,AssemblyName=app
      - name: Archive production artifacts
        uses: actions/upload-artifact@v4
        with:
          name: app-${{ matrix.rid }}
          path: app/${{ matrix.rid }}